.Container {
  display: grid;
  justify-items: center;
}

.PokeImg {
  justify-content: center;
}

.ButtonsContainer {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-evenly;
}